/* All css are here */
body{
	background-color: #fff;
}
.nav-extended {
  -webkit-box-shadow: none;
  box-shadow: none; }

.nav-content {
    background-color: #fafbfc;
    border-bottom: 1px solid #e1e4e8;
    margin-bottom: 20px;
  }
.nav-content .container {
  position: relative;
  top: 1px;
}
.tabs .indicator {
  background-color: #17a53c;
  display: none;
}

.tabs{
    background-color: transparent;
    height: 40px;
 }

.tabs .tab {
    background: #fafafa;
    float: left;
    white-space: nowrap;
    line-height: 40px;
    height: 40px;
    text-transform: capitalize;
   }
.tabs .tab a{
    border: solid transparent;
    border-bottom: 1px solid #e1e4e8;
    border-width: 3px 1px 1px;
}
.tabs .tab a.active {
    color: #000;
    background: #fff;
    border-color: #17a53c #e1e4e8 transparent;
 }
    .tabs .tab a:hover,.tabs .tab a:focus{
      background: #fff;
    }
.current-indecator {
    height: 50px;
    line-height: 50px
}
.tabs .tab .Counter,.side-nav .Counter{
    background: #ee6e73;
    color: #fff;
    padding: 3px 5px;
    border-radius: 10px;
    margin-left: 5px;
    font-size: 9px;
}
.tabs .tab i,.side-nav i,.user-icon {
    margin-right: 4px !important;
    float: left;
    line-height: 40px;
    font-size: 17px
}
.filter-panel {
    height: 40px;
    background: transparent;
    box-shadow: none;
}

.input-field input[type],textarea{
    background-color: #fafbfc;
    border: 1px solid #e1e4e8 !important;
    line-height: 30px !important;
    margin: 0px !important;
    float: left;
    height: calc(100% - 4px) !important;
    width: calc(100% - 34px) !important;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: inset 0px 1px 6px -2px #9E9E9E !important;
    padding: 0px 0px 0px 30px !important;
}

.input-field input[type]:focus,textarea:focus{
  border-color: #2188ff !important;
  outline: none !important;
  -webkit-box-shadow: inset 0 1px 2px 0px rgba(27,31,35,0.075), 0 0 0 0.2em rgba(3,102,214,0.3) !important;
  box-shadow: inset 0 1px 2px 0px rgba(27,31,35,0.075), 0 0 0 0.2em rgba(3,102,214,0.3) !important;
}
.filter-panel .input-field i.input-search{
    position: absolute;
    color: #444d56;
    top: 0px;
    left: 5px;
    height: 38px;
    line-height: 38px
}
.filter-panel .input-field{
    box-sizing: content-box;
    padding: 0px;
    margin: 0px;
}
.input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: 1px solid #e1e4e8;
    -webkit-box-shadow: 0 1px 0 0 transparent;
    box-shadow: 0 1px 0 0 transparent;
}

.action-lbl{
  background: #fafbfc;
  color: #444d56;
  line-height: 20px;
  padding: 10px;
  float: left;
  padding: 8px 10px;
  border-right: 1px solid #e1e4e8;
  text-transform: capitalize;
  box-shadow: none;
}
.action-lbl:focus,.action-lbl:hover{
    background: transparent;
    box-shadow: none;
}
.action-lbl.active{
    background-color: #0366d6;
    color: #fff;
}
.action-lbl:last-child{
  border-right: 0px;
}
.lable-pnl{
    margin-left: 10px;
    border: 1px solid #e1e4e8;
    width: max-content;
    float: left;
}
.filter-btn {
    float: left;
    min-width: 100px;
    background-color: #fafbfc;
    border: 1px solid #e1e4e8;
    color: #444d56;
    padding: 0px 10px;
    height: 38px;
    line-height: 38px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .filter-btn:hover,.filter-btn:focus{
    background-color: #e6ebf1
  }
  .filter-btn i {
    float: right;
    height: 37px !important;
    line-height: 38px !important;
  }
  .filter-btn + .dropdown-content,md-select-menu{
    margin-top: 6px;
    min-width: 150px !important;
    border: 1px solid #e1e4e8;
    box-shadow: 0 3px 12px rgba(27,31,35,0.15);
    width: fit-content !important;
  }
  .filter-btn + .dropdown-content li,md-option{
      border-bottom: 1px solid #e1e4e8;
      min-height: 35px !important;
      line-height: 35px !important;
      height: 40px !important;
  }
  .filter-btn + .dropdown-content li:focus,.filter-btn + .dropdown-content li:hover{

  }
  .filter-btn + .dropdown-content li>a, .filter-btn + .dropdown-content li>span,
  md-select-menu.md-default-theme md-content md-option, md-select-menu md-content md-option{
    padding: 8px 8px 8px 15px;
    white-space: nowrap;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    color: #444d56;
  }
  .filter-btn + .dropdown-content li>a:hover, 
  .filter-btn + .dropdown-content li>span:hover,
  .filter-btn + .dropdown-content li>a:focus, 
  .filter-btn + .dropdown-content li>span:focus,
  .filter-btn + .dropdown-content li:focus,
  .filter-btn + .dropdown-content li:focus,
  md-select-menu.md-default-theme md-content md-option:not([disabled]):focus, md-select-menu md-content md-option:not([disabled]):focus, md-select-menu.md-default-theme md-content md-option:not([disabled]):hover, md-select-menu md-content md-option:not([disabled]):hover
  {
    background-color: #0366d6;
    color: #fff;
  }
  .btn.theme-btn {
    color: #fff;
    background-color: #28a745;
    background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
    background-position: 0 0;
    text-transform: capitalize;
    padding: 0px 15px;
    border-color: rgba(27,31,35,0.5);
    text-decoration: none;
    -webkit-transition: none;
    transition: none;
    border: 1px solid rgba(27, 31, 35, 0.2);
    box-shadow: none;
}
.btn.theme-btn:focus,.btn.theme-btn:hover{
    background-color: #269f42;
    background-image: linear-gradient(-180deg, #2fcb53 0%, #269f42 90%);
    background-position: 0 -0.5em;
    border-color: rgba(27,31,35,0.5);
    text-decoration: none;
    background-repeat: repeat-x;
    box-shadow: none;
}
.btn.theme-btn:disabled, .btn.theme-btn.disabled {
    color: rgba(255,255,255,0.75) !important;
    background-color: #94d3a2 !important;
    background-image: none;
    border-color: rgba(27,31,35,0.2);
    box-shadow: none;
}
.border-rght0{
  border-right:0px;
}
.border-radius3{
  border-radius: 3px;
}
.issue-list {
    margin-top: 20px;
}
.issue-header,.issue-body {
    height: 50px;
    line-height: 50px;
    background-color: #f6f8fa;
    border: 1px solid #e1e4e8;
    color: #24292e;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.issue-header{
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.issue-body{
  margin: 0px;
  border-top:0px;
  height: auto; 
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.issue-body li{
  border-bottom: 1px solid #e1e4e8;
  display: inline-block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #fff;
}
.issue-body li:hover,.issue-body li:hover{
background-color: inherit;
}
.issue-body li:last-child{
border-bottom: 0px solid #e1e4e8;
border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;
}
.issue-body li a{
  padding: 0px 15px;
  float: left;
  height: 32px;
  line-height: 42px;
  font-size: 16px;
  font-weight: 500;
  color: #444d56;
  white-space: nowrap;
  overflow: hidden;
  max-width: 95%;
  text-overflow: ellipsis;
  
}
.issue-body li a:hover,.issue-body li a:focus{
color:#0366d6 !important;
}


.issue-body li a + span{
     width: 100%;
    display: block;
    height: calc(100% - 25px);
    float: left;
    line-height: 1.7;
    padding: 0px 15px;
    font-size: 13px;
    color: #586069 !important;
}
.issue-body li label{
    padding: 0px 15px;
    display: block;
    min-width: 100px;
    width: fit-content;
    height: 34px;
    line-height: 34px;
    float: left;
    margin: 10px;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 rgba(27,31,35,0.12);
}
.issue-body li .color-tag{
  color: #fff;
}
.issue-body li .color-tag i{
    display: inline-block;
    float: left;
    line-height: 34px;
    transform: rotate(215deg);

    position: relative;
    left: -12px;
    top: -1px;
}
.issue-body li .color-tag span{
    font-size: 16px;
    line-height: 34px;
    position: relative;
    left: -8px;
}
.issue-body li .color-tag i:after{
    content: "";
    position: absolute;
    height: 4px;
    width: 4px;
    background: #fff;
    border-radius: 50%;
    bottom: 45%;
    left: 50%;
}
.issue-list nav ul a{
    color: inherit !important;
}
.issue-header .filter-btn{
      height: 100%;
    background: transparent;
    border: 0px;
    line-height: 48px;
    text-align: right;
}
.issue-header .filter-btn i{
    height: 100% !important;
    line-height: 48px !important;
}

/*Angular Control Styles */
md-select {
    margin: 0px;
    height: 48px;
    min-width: 100px;
    padding: 0px 10px;
    color: #000;
}
md-content{
  padding: 0px !important;
  margin: 0px !important;
}

md-select-value,md-select,
md-select-value.md-select-value md-select-placeholder,
md-select.md-default-theme:not([disabled]):focus .md-select-value, 
md-select:not([disabled]):focus .md-select-value,
md-select.md-default-theme .md-select-value.md-select-placeholder, 
md-select .md-select-value.md-select-placeholder,
md-select.md-default-theme:not([disabled]):focus .md-select-value.md-select-placeholder, 
md-select:not([disabled]):focus .md-select-value.md-select-placeholder{
  color: #444d56 !important;
  border:0px !important;
}

md-select-value:focus,
md-select.md-default-theme:not([disabled]):focus .md-select-value.md-select-placeholder, 
md-select:not([disabled]):focus .md-select-value.md-select-placeholder{
  outline: 2px solid #96baf3 !important;
}

.header-panel {
    height: 40px;
}
.header-panel .input-field {
    margin: 0px;
}
.create-new-issue {
  width: calc(100% - 80px);
    border: 1px solid #e1e4e8;
    padding: 10px 0px !important;
    position:relative;
    float: right;
}
.body-panel .body-tab-panel {
    border-bottom: 1px solid #e1e4e8;
    padding: 0px 20px;
}
.body-panel .body-tab-panel .tabs {  
  top: 1px;
}
.body-panel .body-tab-panel .tabs .tab a{
  background-color: #fff;
  border-top: 1px solid transparent;
}
.body-panel .body-tab-panel .tabs .tab a.active{
  border-top: 1px solid #e1e4e8;
}
div#create-tab {
    margin-top: 10px;
}
.textarea-panel {
    margin: 10px 0px;
    border: 1px solid #e1e4e8;
    border-radius: 4px;

   
}
.textarea-panel textarea{
  width: calc(100% - 0px) !important;
  padding: 7px !important;
  height: 200px !important;
  border-bottom: 1px dashed #2188ff !important;


}
.textarea-panel textarea:focus{
  box-shadow: inset 0 1px 2px rgba(27,31,35,0.075), 0 0 0 0.2em rgba(3,102,214,0.3) !important;
  border-bottom-style: dashed !important
}
.textarea-panel textarea:focus + p{
  border-top: 0px !important;
    border-color: #2188ff !important;
    outline: none !important;
    -webkit-box-shadow: inset 0 1px 2px 0px rgba(27,31,35,0.075), 0 0 0 0.2em rgba(3,102,214,0.3) !important;
    box-shadow: inset 0 1px 2px 0px rgba(27,31,35,0.075), 0 0 0 0.2em rgba(3,102,214,0.3) !important;
}
.indicator{
  display: none;
}
.textarea-footer {
    padding: 0px 7px;
    margin: 0px;
    height: 40px;
    line-height: 40px;
    clear: both;
    bar
    border-color: #2188ff !important;
}
div#preview {
    min-height: 262px;
}
.create-new-issue .btn{
  margin-right:10px;
}
.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  
  border-right:10px solid #e1e4e8; 
}
.create-new-issue > .arrow-left{
  position: absolute;
  top:10px;
  left: -10px;
}

.create-new-issue > .arrow-left .arrow-left{
    position: absolute;
    border-right: 9px solid #fff;
    top: -9px;
    left: 2px;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
}
.user-image{
    height: 60px;
    width: 60px;
    float: left;
    border: 1px solid red;
}
.timeline-comments{
    display: table;
    width: 100%;
}
.grid-count-label {
    padding: 0px 10px;
    cursor: pointer;
    color: #000;
    font-weight: 900;
    font-size: 18px;
}

#ngProgress-container{
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}
#ngProgress {
    margin: 0;
    padding: 0;
    z-index: 99998;
    background-color: green !important;
    color: green;
    box-shadow: 0 0 10px 0;
    height: 7px !important;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.pagination{
      margin: 0px auto;
}
.pagination li {
    border: 1px solid #e1e4e8;
    float: left;
    border-left: 0px;
}
.pagination li:nth-child(2){
  border-left: 1px solid #e1e4e8;
}
.pagination li:first-child,.pagination li:last-child{
display: none;
}
/*# sourceMappingURL=main.css.map */
