<div id="Issue" class="col s12">

        <nav class="filter-panel">
          <div class="nav-wrapper">
              <a class='dropdown-button filter-btn border-rght0 .border-rght0' href='#' data-activates='dropdown1'>Filters<i class="material-icons">arrow_drop_down</i></a>

              <!-- Dropdown Structure -->
              <ul id='dropdown1' class='dropdown-content'>
                <li><a href="#!">Open issue and pull requests</a></li>
                <li><a href="#!">Your issues</a></li>
                <li><a href="#!">Your pull requests</a></li>
                <li><a href="#!">Everything Assigned you</a></li>
                <li><a href="#!">Everything mentioning your</a></li>
              </ul>

              <div class="col s4 input-field">
                <i class="material-icons input-search">search</i>
                <input id="search" type="search" required>
              </div>
              <div class="lable-pnl border-radius3">
                <a class="action-lbl" href="#">Lables</a>
                <a class="action-lbl" href="#">Milstones</a>
              </div>
              <button class="btn right new-issue">New issue</button>
          </div>
        </nav>
        <div class="issue-list">
          <nav class="issue-header">
            <div class="nav-wrapper">
              <ul class="right hide-on-small-and-down">
                <li>
                  <a class='dropdown-button filter-btn' href='#' data-activates='dropdown2'>Author<i class="material-icons">arrow_drop_down</i></a>

              <!-- Dropdown Structure -->
                  <ul id='dropdown2' class='dropdown-content'>
                    <li><a href="#!">Open issue and pull requests</a></li>
                    <li><a href="#!">Your issues</a></li>
                    <li><a href="#!">Your pull requests</a></li>
                    <li><a href="#!">Everything Assigned you</a></li>
                    <li><a href="#!">Everything mentioning your</a></li>
                  </ul>
                </li>
                <li>
                  <a class='dropdown-button filter-btn' href='#' data-activates='dropdown3'>lable<i class="material-icons">arrow_drop_down</i></a>

              <!-- Dropdown Structure -->
                  <ul id='dropdown3' class='dropdown-content'>
                    <li><a href="#!">Open issue and pull requests</a></li>
                    <li><a href="#!">Your issues</a></li>
                    <li><a href="#!">Your pull requests</a></li>
                    <li><a href="#!">Everything Assigned you</a></li>
                    <li><a href="#!">Everything mentioning your</a></li>
                  </ul>
                </li>
                <li>
                  <a class='dropdown-button filter-btn' href='#' data-activates='dropdown4'>Projects<i class="material-icons">arrow_drop_down</i></a>

              <!-- Dropdown Structure -->
                  <ul id='dropdown4' class='dropdown-content'>
                    <li><a href="#!">Open issue and pull requests</a></li>
                    <li><a href="#!">Your issues</a></li>
                    <li><a href="#!">Your pull requests</a></li>
                    <li><a href="#!">Everything Assigned you</a></li>
                    <li><a href="#!">Everything mentioning your</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </nav>
          <ul class="issue-body">
            <li><a href="#">Gaurav Kumar Rana</a></li>
            <li><a href="#">Gaurav Kumar Rana</a></li>
            <li><a href="#">Gaurav Kumar Rana</a></li>
            <li><a href="#">Gaurav Kumar Rana</a></li>
          </ul>
        </div></div>