<div ng-controller="issueController" class="row" ng-cloak>
  <nav class="filter-panel">
    <div class="nav-wrapper">
        <button class='dropdown-button filter-btn border-rght0 .border-rght0' href='#' data-activates='dropdown0'><i class="material-icons">arrow_drop_down</i><span class="dropdown-button-text">Filters</span></button>

        <ul id='dropdown0' class='dropdown-content'>
          <li><a href="#!">Open issue and pull requests</a></li>
          <li><a href="#!">Your issues</a></li>
          <li><a href="#!">Your pull requests</a></li>
          <li><a href="#!">Everything Assigned you</a></li>
          <li><a href="#!">Everything mentioning your</a></li>
        </ul>

        <div class="col s4 input-field">
          <i class="material-icons input-search">search</i>
          <input id="search"   type="search"  
                               ng-model="header"
                               ng-change="gridActions.filter()"
                               id="header"
                               placeholder="Search by issue name."
                               filter-by="Header"
                               filter-type="text"
                               aria-invalid="false">
        </div>
        <div class="lable-pnl border-radius3">
          <a class="action-lbl" href="#/issue/lables">Labels</a>
          <a class="action-lbl" href="#/issue/lables">Milstones</a>
        </div>
        <a class="btn theme-btn right" href="#/issue/new">New issue</a>
    </div>
  </nav> 
  <div grid-data grid-options="gridOptions" grid-actions="gridActions" class="issue-list">

    <nav class="issue-header">
      <div class="nav-wrapper">
        <div flex-gt-sm="25" flex-sm="100" layout="row" layout-align="start center" class="grid-count-label left">
          <span>{{filtered.length}} Issues</span>
      </div>
      <!--<ul class="right hide-on-small-and-down">
          <li>
            <md-select filter-by="statusDisplay"
                     filter-type="select"
                     ng-model="status"
                     placeholder="Status"
                     ng-change="gridActions.filter()">
              <md-option value="">All Statuses</md-option>
              <md-option ng-repeat="option in statusOptions track by option.value"
                         value="{{option.value}}">
                  {{option.text}}
              </md-option>
            </md-select>
          </li>
        </ul> -->
      </div>
    </nav>

    <ul  class="issue-body">
      <li grid-item>
        <a href="#" ng-bind="item.Header" title="{{item.Header}}"></a>
        <span >#{{item.IssueId}} is opened on {{newDate(item.Date)}} by {{item.CreatedBy}}</span>


      </li>
    </ul>

    <div layout-xs="column" layout="row" layout-align-xs="end end" layout-align="end center">
      <grid-pagination max-size="6"
                       boundary-links="true"
                       class="pagination"
                       ng-if="paginationOptions.totalItems  > paginationOptions.itemsPerPage"
                       total-items="paginationOptions.totalItems"
                       ng-model="paginationOptions.currentPage"
                       ng-change="reloadGrid()"
                       items-per-page="paginationOptions.itemsPerPage">
      </grid-pagination>
      <md-input-container flex-offset-gt-xs="5" class="items-per-page">
          <md-select ng-init="paginationOptions.itemsPerPage = '5'" 
                     ng-model="paginationOptions.itemsPerPage" 
                     ng-change="reloadGrid()"
                     aria-label="false">
              <md-option ng-value="10">10</md-option>
              <md-option ng-value="25">25</md-option>
              <md-option ng-value="50">50</md-option>
              <md-option ng-value="75">75</md-option>
          </md-select>
      </md-input-container>
    </div>
</div>
<!-- Angular Material Library -->
<!-- <script src="js/angular-material.min.js"></script> -->
<script>
  $(document).ready(function(){

    setTimeout(function(){
        $(".dropdown-button").dropdown({belowOrigin: true});
    },300);    

    $('.dropdown-content').find('li').click(function(e){
      e.preventDefault();
      _actionbtn = $(this).parent().attr('id');
      _text = $(this).find('a').text();
      _actionbtn = "[data-activates='"+_actionbtn+"']";
      $(_actionbtn).find('.dropdown-button-text').text(_text);
    });


  });
</script>