<div class="col s12" ng-controller="labelsController">


<nav class="filter-panel">

	<div class="nav-wrapper">
	    <div class="lable-pnl border-radius3">
	      <button class="btn action-lbl active" href="#">Lables</button>
	      <a class="action-lbl" href="#">Milstones</a>
	    </div>
	</div>
</nav> 


<div grid-data grid-options="lablesOptions" grid-actions="lablesOptionActions" class="issue-list">


    <nav class="issue-header">
      <div class="nav-wrapper">

        <a sortable="tag" flex-gt-sm="25" flex-sm="100" layout="row" layout-align="start center" class="grid-count-label left">
          <span>{{filtered.length}} Labels</span>
        </a>
        <ul class="right hide-on-small-and-down">
          <li>
            <input id="search"  type="search"  
                                ng-model="tag"
                                ng-change="lablesOptionActions.filter()"
                                id="header"
                                placeholder="Search by tag name."
                                filter-by="tag"
                                filter-type="text"
                                aria-invalid="false" style="margin-bottom: 0px;">
          </li>
          <!-- <li>
            <md-select  filter-by="tag"
                        filter-type="select"
                        ng-model="tagSortOrder"
                        placeholder="Sort">

              <md-option  ng-click="" sortable="tag"> Alphabatically </md-option>
              <md-option  ng-click="" sortable="tag"> Reverse Alphabatically </md-option>
            </md-select>
          </li> -->
        </ul>
      </div>
    </nav>

    <ul  class="issue-body">
      <li grid-item>
        <label style="background-color:{{item.color}}" class="color-tag">
          <i class="material-icons">label_outline</i>
          <span ng-bind="item.tag"></span>
        </label>
      </li>
    </ul>

    <div layout-xs="column" layout="row" layout-align-xs="end end" layout-align="end center">
      <grid-pagination max-size="5"
                       boundary-links="true"
                       class="pagination"
                       ng-if="paginationOptions.totalItems  > paginationOptions.itemsPerPage"
                       total-items="paginationOptions.totalItems"
                       ng-model="paginationOptions.currentPage"
                       ng-change="reloadGrid()"
                       items-per-page="paginationOptions.itemsPerPage">
      </grid-pagination>
      <md-input-container flex-offset-gt-xs="5" class="items-per-page">
          <md-select ng-init="paginationOptions.itemsPerPage = '5'" ng-model="paginationOptions.itemsPerPage" ng-change="reloadGrid()">
              <md-option ng-value="5">5</md-option>
              <md-option ng-value="10">10</md-option>
              <md-option ng-value="25">25</md-option>
              <md-option ng-value="50">50</md-option>
              <md-option ng-value="75">75</md-option>
          </md-select>
      </md-input-container>
    </div>
</div>




<!-- <div class="chips chips-initial"></div> -->

</div>
<script>
// $(document).ready(function(){
//     $('.chips-initial').material_chip();
// });       
</script>