<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--JQuery Library -->
  <script async="" src="js/jquery-3.2.1.min.js"></script>
  <!--Material style sheet -->
  <link rel="stylesheet" href="css/materialize.min.css">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="css/angular-material.min.css">
  <!-- Custom style sheet -->
  <link rel="stylesheet" href="css/icon.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body ng-app="datepickerBasicUsage" ng-cloak>

  <!--
    Your HTML content Start here
    Angular JS Source - https://material.angularjs.org/1.1.4/demo/datepicker
  -->  
<div class="row">
    <nav class="nav-extended">
      <div class="container nav-wrapper">
        <a href="#" class="brand-logo">go</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#Account"><i class="user-icon material-icons">assignment_ind</i>Sign in <sapn>or</sapn> Sign up</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li>
            <a href="#Account"><i class="user-icon material-icons">assignment_ind</i>Sign in <sapn>or</sapn> Sign up</a>
          </li>
          <li>
            <a href="#Code"><i class="material-icons">code</i>Code<span class="Counter">298</span></a>
          </li>
          <li>
            <a href="#Issue"><i class="material-icons">bug_report</i>Issue<span class="Counter">298</span></a>
          </li>
          <li>
            <a href="#Pull_Requests"><i class="material-icons">import_export</i>Pull Requests<span class="Counter">9</span></a>
            </li>
          <li>
            <a href="#Projects"><i class="material-icons">insert_chart
</i>Projects<span class="Counter">8</span></a>
            </li>
          <li>
            <a href="#Wiki"><i class="material-icons">library_books</i>Wiki<span class="Counter">8</span></a>
            </li>
          <li>
            <a href="#Settings"><i class="material-icons">settings</i>Settings</a>
            </li> 
           <li><a href="#Insits">Insits</a></li> 
        </ul>
      </div>
    </nav>
    <div class="nav-content">
        <div class="container current-indecator">bug\issues</div>
        <div class="container hide-on-med-and-down">
          <ul class="tabs">
          <li class="tab"><a href="#Code"><i class="material-icons">code</i>Code<span class="Counter">298</span></a></li>
          <li class="tab"><a href="#Issue"><i class="material-icons">bug_report</i>Issue<span class="Counter">298</span></a></li>
          <li class="tab"><a href="#Pull_Requests"><i class="material-icons">import_export</i>Pull Requests<span class="Counter">9</span></a></li>
          <li class="tab"><a href="#Projects"><i class="material-icons">insert_chart
</i>Projects<span class="Counter">8</span></a></li>
          <li class="tab"><a href="#Wiki"><i class="material-icons">library_books</i>Wiki<span class="Counter">8</span></a></li>
          <li class="tab"><a href="#Settings"><i class="material-icons">settings</i>Settings</a></li> 
          <li class="tab"><a href="#Insits">Insits</a></li> 
          </ul>
        </div>
    </div>
    <div class="container">

      <div id="Code" class="col s12">No description, website, or topics provided.</div>
      <div id="Issue" class="col s12">

        <nav class="filter-panel">
          <div class="nav-wrapper">
              <a class='dropdown-button filter-btn border-rght0 .border-rght0' href='#' data-activates='dropdown1'>Filters<i class="material-icons">arrow_drop_down</i></a>

              <!-- Dropdown Structure -->
              <ul id='dropdown1' class='dropdown-content'>
                <li><a href="#!">Open issue and pull requests</a></li>
                <li><a href="#!">Your issues</a></li>
                <li><a href="#!">Your pull requests</a></li>
                <li><a href="#!">Everything Assigned you</a></li>
                <li><a href="#!">Everything mentioning your</a></li>
              </ul>

              <div class="col s4 input-field">
                <i class="material-icons input-search">search</i>
                <input id="search" type="search" required>
              </div>
              <div class="lable-pnl border-radius3">
                <a class="action-lbl" href="#">Lables</a>
                <a class="action-lbl" href="#">Milstones</a>
              </div>
              <button class="btn right new-issue">New issue</button>
          </div>
        </nav>
        <div class="issue-list">
          <nav class="issue-header">
            <div class="nav-wrapper">
              <ul class="right hide-on-small-and-down">
                <li>
                  <a class='dropdown-button filter-btn' href='#' data-activates='dropdown2'>Author<i class="material-icons">arrow_drop_down</i></a>

              <!-- Dropdown Structure -->
                  <ul id='dropdown2' class='dropdown-content'>
                    <li><a href="#!">Open issue and pull requests</a></li>
                    <li><a href="#!">Your issues</a></li>
                    <li><a href="#!">Your pull requests</a></li>
                    <li><a href="#!">Everything Assigned you</a></li>
                    <li><a href="#!">Everything mentioning your</a></li>
                  </ul>
                </li>
                <li>
                  <a class='dropdown-button filter-btn' href='#' data-activates='dropdown3'>lable<i class="material-icons">arrow_drop_down</i></a>

              <!-- Dropdown Structure -->
                  <ul id='dropdown3' class='dropdown-content'>
                    <li><a href="#!">Open issue and pull requests</a></li>
                    <li><a href="#!">Your issues</a></li>
                    <li><a href="#!">Your pull requests</a></li>
                    <li><a href="#!">Everything Assigned you</a></li>
                    <li><a href="#!">Everything mentioning your</a></li>
                  </ul>
                </li>
                <li>
                  <a class='dropdown-button filter-btn' href='#' data-activates='dropdown4'>Projects<i class="material-icons">arrow_drop_down</i></a>

              <!-- Dropdown Structure -->
                  <ul id='dropdown4' class='dropdown-content'>
                    <li><a href="#!">Open issue and pull requests</a></li>
                    <li><a href="#!">Your issues</a></li>
                    <li><a href="#!">Your pull requests</a></li>
                    <li><a href="#!">Everything Assigned you</a></li>
                    <li><a href="#!">Everything mentioning your</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </nav>
          <ul class="issue-body">
            <li><a href="#">Gaurav Kumar Rana</a></li>
            <li><a href="#">Gaurav Kumar Rana</a></li>
            <li><a href="#">Gaurav Kumar Rana</a></li>
            <li><a href="#">Gaurav Kumar Rana</a></li>
          </ul>
        </div>

      </div>
      <div id="Pull_Requests" class="col s12">No description, website, or topics provided.</div>
      <div id="Projects" class="col s12">No description, website, or topics provided.</div>
      <div id="Wiki" class="col s12">No description, website, or topics provided.</div>
      <div id="Settings" class="col s12">No description, website, or topics provided.</div>
      <div id="Insits" class="col s12">No description, website, or topics provided.</div>
    </div>
</div>
  <!--
    Your HTML content Ends here
  --> 

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="js/angular.min.js"></script>
  <script src="js/angular-animate.min.js"></script>
  <script src="js/angular-aria.min.js"></script>
  <script src="js/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="js/angular-material.min.js"></script>

  <!-- Material Library -->
  <script src="js/materialize.min.js"></script>
  
  <!-- Your application bootstrap  -->
  <script src="js/mainApp.js"></script>

  <script type="text/javascript">
    $(document).ready(function(){
      $(".button-collapse").sideNav();
      $(".dropdown-button").dropdown({belowOrigin: true});
      $('ul.tabs').tabs();
      $('ul.tabs').tabs('select_tab', 'Issue');
    })
  </script>
  
</body>
</html>